@import "../node_modules/sweetalert/dist/sweetalert.css";
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */

body {
    font-family: 'Ubuntu Condensed', sans-serif;
    background-image: url('./images/concrete_seamless.png');
    color: grey;
}

h2 {
    color: grey;
}

input {
    outline: none;
    padding: 10px;
}

strong {
    font-weight: 900;
    color: #666;
}

a:link {
    text-decoration: none;
    color: lightslategrey;
}

a:visited {
    color: lightslategrey;
}

#container{
    position: relative;
}

#usrPassContainer {
    width: 600px;
    margin: 150px auto;
    text-align: center;
}

#usrPass {
    margin: 0px 20px;
}

#usrPass:focus {
    outline: 3px dashed grey;
}

#email {
    margin: 20px;
    width: 250px;
}

#email:focus {
    outline: 3px dashed grey;
}

#submit {
    margin-top: 20px;
    border-radius: 20%;
    border: none;
    color: white;
    background-color: slategrey;
}

#switchContainer{
    margin-top: 100px;
}

#switchText {

}

#logOut {
    width: 200px;
    margin: 50px auto;
    text-align: center;
}

#logOutButton {
    border-style: none;
    border-radius: 20%;
    color: white;
    background-color: slategrey;
}

#consumerView {
    width: 700px;
    text-align: center;
    margin: 0 auto;
}

#consumerMenu{
    width: 400px;
    margin: 100px auto;
    text-align: center;
}

#consumerEventSearch {
    width: 200px;
}

#consumerEventSearch:focus {
    outline: 3px dashed grey;
}

#consumerSavedEventsButton {
    border-style: none;
    border-radius: 20%;
    color: white;
    background-color: slategrey;
    margin: 0 auto;
    display: block;
}

#venueMenu {
    width: 400px;
    margin: 80px auto;
    text-align: center;
    h2 {
        margin-bottom: 50px;
    }
}

#venueProfile {
    text-align: center;
    margin: 30px auto;
    width: 600px;
    input {
        width: 500px;
        margin-top: 30px;
    }
}

#profileSubmitBox {
    text-align: center;
}

#venueProfileEditButton,#venueNewEventButton,#venueSavedEventButton,#favoriteButton,#unfavoriteButton,#availableEvents,#nearbyEvents,#deleteButton,#venueProfileViewButton,#venueListButton {
    border-style: none;
    border-radius: 20%;
    color: white;
    background-color: slategrey;
    margin: 10px auto;
    display: block;
}

#eventsList {
    text-align: center;
}

#linkHolder > a {
    display: block;
    margin-top: 20px;
}

#linkHolder {
    margin-bottom: 60px;
}

#newEventWrapper {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    input {
        margin: 20px;
    }
}

#eventTitle,#eventGuests {
    display: block;
    width: 500px;
}

#eventDate {
    display: block;
}

#eventNotes {
    display: block;
    min-height: 200px;
    width: 500px;
    margin-left: 20px;
}

#programAdd {
    border-style: none;
    border-radius: 20%;
    color: slategrey;
    background-color: transparent;
    margin: 10px auto;
    margin-right: 30px;
    margin-left: 10px;
}

#backButton,#eventSubmit,#profileSubmit {
    border-style: none;
    border-radius: 20%;
    color: slategrey;
    background-color: transparent;
    margin: 20px;
}

#eventSubmitBox, {
    text-align: center;
}

#programContainer,#singleListContainer {
    text-align: center;
}

#programTitle,#listTitle {
    display: inline;
}

#programButton,#listButton {
    background: none;
    outline: none;
    border: none;
    font-size: 1.5rem;
}

#profile {
    text-align: center;
    #profileContent {
        margin: 100px;
        background-color: white;
        padding: 60px;
    }
    #map {
        height: 400px;
        width: 400px;
        margin: 30px auto;
    }
}

#loading {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
}

#logoutLink {
    margin: 20px;
}

#searchContainer {
    position: relative;
}






